body {
  background: linear-gradient(
    90deg,
    rgba(255, 94, 0, 1) 0%,
    rgba(252, 176, 69, 1) 100%
  );

  font-family: Arial, sans-serif;
  margin: 0;
}
.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}
.inputContainer {
  text-align: center;
  display: block;
}

input {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #fff;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.countdown {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.upcoming {
  display: flex;
  align-items: center;
  font-size: 60px;
  color: white;
  margin-top: 30px;
  gap: 30px;
  opacity: 0.3;
}

.current {
  display: flex;
  align-items: center;
  font-size: 60px;
  color: white;
  margin-top: 30px;
  gap: 30px;
}
.previous {
  display: flex;
  align-items: center;
  font-size: 60px;
  color: white;
  margin-top: 30px;
  gap: 30px;
  opacity: 0.3;
}

.resetButtonParent {
  position: absolute;
  top: 4rem;
}


 /* Scroll  css Style  */

 @keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px);
  }
}

.scroll {
  display: inline-block;
  overflow: hidden;
  height: 1em;
}

.scroll-up {
  animation: scrollUp 0.5s forwards;
}

.scroll-down {
  animation: scrollDown 0.5s forwards;
}
